# Introdução a Algoritmos e Programação em Python

## Informações sobre o curso

### Objetivo

O objetivo desta aula é guiar o aluno pelas estruturas e rotinas básicas de uma linguagem de programação.

O conteúdo aqui apresentado é necessário para entendimento das técnicas aplicadas nas disciplinas e laboratórios futuros.

### Instalação

Este documento foi construído através da ferramenta [Jupyter Notebook](http://jupyter.org/) e recomenda-se que as atividades aqui propostas sejam realizadas por meio da mesma ferramenta.

Para suporte completo das demais disciplinas do curso, algumas bibliotecas - além da própria linguagem Python - deverão ser instaladas na máquina do aluno. O projeto [Anaconda](https://www.anaconda.com/download/)  oferece um pacote das principais ferramentas necessárias e sua instalação é recomendada.

Para baixar o instalador disponível para os sistemas `Windows`, `MacOs` e `Linux` visite o [link para download do projeto Anaconda](https://www.anaconda.com/download/) e escolha a opção mais recente do **Python**.

> **Nota:** A instalação deve ocorrer de forma simples, basta escolher as opções recomendadas e certificar-se de que a opção **"adicionar Python ao Path do sistema"** foi selecionada no decorrer da instalação.

Caso o aluno queira instalar as bibliotecas de forma manual, pode optar por apenas realizar o download da linguagem Python. O instalador e outras informações como suporte aos sistemas e o processo de instalação podem ser consultados no [link oficial para download da linguagem](https://www.python.org/downloads/).

> **Nota:** Também verificar se a opção **"adicionar Python ao Path do sistema"** foi selecionada no decorrer da instalação.

Como editor de texto, recomenda-se a instalação do [Visual Studio Code](https://code.visualstudio.com/) da Microsoft, o [download pode ser feito através deste link](https://code.visualstudio.com/Download).

### Material complementar

 - [Documentação da linguagem Python](https://docs.python.org/3/index.html).
 - [Comunidade brasileira de Python](https://python.org.br/).

## Python

Python é uma linguagem de programação de [alto nível](https://pt.wikipedia.org/wiki/Linguagem_de_programa%C3%A7%C3%A3o_de_alto_n%C3%ADvel) e [interpretada](https://pt.wikipedia.org/wiki/Linguagem_interpretada). Lançada oficialmente em 1991 e preferida pelos pesquisadores e cientistas. A comunidade Python, ultimamente, ainda vê um grande crescimento em sua utilização.

Nesta aula, além das estruturas básicas de dados suportados pela linguagem, também veremos as [estruturas de seleção (ou condição)](https://pt.wikipedia.org/wiki/Estrutura_de_sele%C3%A7%C3%A3o) como `if`, `elif` e `else`; as [estruturas de repetição (_loops_](https://pt.wikipedia.org/wiki/Estrutura_de_repeti%C3%A7%C3%A3o))  `for` e `while`; e finalmente as sub-rotinas ([funções](https://pt.wikipedia.org/wiki/Sub-rotina)).

## Imprimindo texto no terminal

Em python utilizamos a função `print()` para imprimir uma mensagem no terminal. A função `print()` é muito útil para "[*debugar*](https://pt.wikipedia.org/wiki/Debug_(comando))" um [*script*](https://pt.wikipedia.org/wiki/Linguagem_de_script), facilitando ao programador encontrar erros ou comportamentos inadequados no código.

```python
print("Texto que quero imprimir no terminal")
```

In [ ]:
print('Olá Mundo!')

In [ ]:
aula = 'Texto...' # atribuição de string à varialvel

print(aula)

In [ ]:
3+3

In [ ]:
print('O Resultado de 3 + 3 é', 3 + 3)

In [ ]:
print('O Resultado de 3 + 3 é {0}'.format(3 + 3))

In [ ]:
print('O Resultado de 3 + 3 é {0} e de 4 + 2 também é {1}'.format(3 + 3, 4 + 2))

## Comentários

Comentários são a [chave do sucesso em qualquer código de computador](http://www.linhadecodigo.com.br/artigo/2918/a-importancia-de-uma-boa-documentacao.aspx). Além de ajudar outras pessoas a entender o raciocínio aplicado, também facilitam o programador nos suportes futuros ao código.

Em Python, podemos utilizar comentários de duas formas:

1. Comentários de uma linha
```python
# Comentário de uma linha...
```
2. Comentários de várias linhas
```python
'''
Comentário
            de
                várias
                        linhas...
'''
```

Os comentários não são interpretados pelo [interpretador da linguagem](https://pt.wikipedia.org/wiki/Interpretador), isso é, seu conteúdo é ignorado.

## Tipos de dados em Python

Assim como em outras linguagens, Python possui [vários tipos de dados nativos](https://docs.python.org/3/library/datatypes.html), ou seja, é possível dizer que uma variável é do tipo inteiro (1, 4, 7, 9, 15000, ...), um ponto flutuante (2.5, 77.4, 13.1416, …), uma lista, um conjunto ou mesmo um texto.

Abaixo uma tabela resumindo os tipos nativos encontrados na linguagem Python:

| Tipo | Descrição | Sintaxe |
|:---:|:---:|:---:|
| ```str``` | Uma [sequência de caracteres](https://pt.wikipedia.org/wiki/Cadeia_de_caracteres) | ```'Um texto Qualquer'``` |
| ```list``` | Uma [lista](https://pt.wikipedia.org/wiki/Lista) mutável | ```['Texto', True, 44.8]``` |
| ```tuple``` | [Tupla](https://pt.wikipedia.org/wiki/Enupla) imutável | ```('Texto', True, 44.8)``` |
| ```set``` | [Conjunto](https://pt.wikipedia.org/wiki/Conjunto) não ordenado, não contendo elementos duplicados | ```set(['Texto', True, 44.8])``` |
| ```dict``` | [Conjunto](https://pt.wikipedia.org/wiki/Conjunto) associativo, na estrutura de chave: valor | ```{'chave_1' : valor_1, 'chave_2' : valor_2}``` |
| ```int``` | Números inteiros | ```36900``` |
| ```float``` | [Ponto flutuante](https://pt.wikipedia.org/wiki/V%C3%ADrgula_flutuante) | ```13.1416``` |
| ```complex``` | [Números complexos](https://pt.wikipedia.org/wiki/N%C3%BAmero_complexo) | ```4+5i``` |
| ```bool``` | [Booleanos](https://pt.wikipedia.org/wiki/Booleano) | ```True ou False``` |

## Operadores aritméticos, lógicos e básicos de comparação

Os operadores matemáticos nos possibilitam executar cálculos matemáticos sejam eles simples ou complexos.

Já os [operadores lógicos](https://pt.wikipedia.org/wiki/Operador_l%C3%B3gico) nos permitem realizar comparações entre variáveis binárias definidas, ou seja, retorna positivo ou negativo dada uma determinada expressão.

### Operadores aritméticos

Operador | Descrição
:---:|:---:
+|Adição
-|Subtração
*|Multiplicação
/|Divisão 
%|Módulo (resto)
//|Divisão (parte inteira)
**|Exponenciação

In [ ]:
print('7 + 2 =', 7 + 2) # operação de adição

In [ ]:
print('7 - 2 =', 7 - 2) # operação de subtração

In [ ]:
print('7 * 2 =', 7 * 2) # operação de multiplicação

In [ ]:
print('7 / 2 =', 7 / 2) # operação de divisão

In [ ]:
print('7 % 2 =', 7 % 2) # resto da divisão (módulo)

In [ ]:
print('7 // 2 =', 7 // 2) # divisão absoluta

In [ ]:
print('7 ** 2 =', 7 ** 2) # potência (exponenciação)

### Operadores lógicos

É através da utilização dos operadores `and`, `or` e `not` que vamos conseguir extrair as características mostradas abaixo:

#### Operador `and`

| A | B | Saída |
|---|---|-------|
| 0 | 0 |   0   |
| 0 | 1 |   0   |
| 1 | 0 |   0   |
| 1 | 1 |   1   |


> É verdade se as duas variáveis de entrada forem verdade.


#### Operador `or`

| A | B | Saída |
|---|---|-------|
| 0 | 0 |   0   |
| 0 | 1 |   1   |
| 1 | 0 |   1   |
| 1 | 1 |   1   |

> É verdade se ao menos uma das variáveis de entrada for verdadeira.

#### Operador `not`

| A | Saída |
|---|-------|
| 0 |   1   |
| 1 |   0   |

> É verdade quando a variável de entrada é falsa e falsa quando a variável é verdadeira.

Vamos verificar o resultado das saídas realizando algumas operações lógicas:

In [ ]:
# Criando 3 variáveis do tipo Boolean:
# var_1 e var_3 recebendo valor True (1 ou verdadeiro) e var_2 recebendo valor False (0 ou falso)

var_1 = True
var_2 = False
var_3 = True

_**!!!** Antes de executar cada uma das 3 células seguintes, substitua nos comentários o caracter **'?'** pela reposta esperada **!!!**_

In [ ]:
print(var_1 and var_2) # Retorna ?
print(var_1 and var_3) # Retorna ?

In [ ]:
print(var_1 or var_2) # Retorna ?
print(var_1 or var_3) # Retorna ?

In [ ]:
print(not var_2) # Retorna ?
print(not var_1) # Retorna ?

### Operadores básicos de comparação

Comparam dois valores e retornam `True` ou `False` dependendo dos parâmetros de *input*.

| Operador | Descrição | Sintaxe |
|:-:|:-:|:-:|
| Igualdade | Compara a igualdade entre dois valores | `==` |
| Maior que | Verifica se o primeiro valor é maior que o segundo valor | `>` |
| Menor que | Verifica se o primeiro valor é menor que o segundo valor | `<` |
| Maior ou igual | Verifica se o primeiro valor é maior ou igual ao segundo valor | `>=` |
| Menor ou igual | Verifica se o primeiro valor é menor ou igual ao segundo valor | `<=` |
| Diferente | Verifica se o primeiro valor é diferente do segundo valor | `!=` |

_**!!!** Antes de executar cada uma das 6 células seguintes, substitua nos comentários o caracter **'?'** pela reposta esperada **!!!**_

In [ ]:
print(2 == 2) # resposta: ?

In [ ]:
print(2 > 3) # resposta: ?

In [ ]:
print(2 < 3) # resposta: ?

In [ ]:
print(3 >= 3) # resposta: ?

In [ ]:
print(3 <= 2) # resposta: ?

In [ ]:
print(3 != 3) # resposta: ?

## Strings

Uma [string](https://docs.python.org/3.8/library/string.html) é qualquer cadeia de caracteres. Pode ser formada de uma única palavra como um nome, uma cor ou pode conter *n* palavras como uma mensagem, um texto...

```python
minha_string = "Eu sou uma String"
```

Python tem uma variedade de funções prontas para operações com os diversos tipos de dados que suporta. 

Para uma visão completa sobre o que podemos fazer com as variáveis do tipo *string* utilizando estas funções nativas da linguagem, basta consultar a [documentação](https://docs.python.org/3.8/library/string.html).

### Uppercase e Lowercase

Deixando toda a *string* em caixa baixa ou alta, por exemplo:

In [ ]:
minha_string = 'Eu sou uma String!'

In [ ]:
# Imprimindo o resultado da função 'upper'
print(minha_string.upper())

In [ ]:
# Imprimindo o resultado da função 'lower'
print(minha_string.lower())

In [ ]:
# variável continua em seu estado original
minha_string

In [ ]:
# alterando o estado original da variável
minha_string = minha_string.lower()
print(minha_string)

### Replace 

A função ```replace()``` recebe dois parâmetros dentro de seus parenteses separados por uma vírgula. O primeiro é o caractere que desejamos modificar e o segundo é o caractere por qual desejamos substituir o primeiro.

Convertendo todo caractere **'a'** pelo caractere **'o'**:

In [ ]:
nova_string = 'Abacaxi, banana, abacate, sorvete e batata!'

In [ ]:
# Imprimindo o resultado da função 'replace'
print(nova_string.replace('a', 'o'))

Observe que a função não modificou a primeira letra **'A'** da palavra **'Abacaxi'**. Isso ocorre pois a a função `replace()` é [*case sensitive*](https://pt.wikipedia.org/wiki/Case-sensitive), ou seja, há diferença entre letras maiúsculas e minúsculas. Como fornecemos a letra **'a'** minúscula para a função, a mesma não alterou a letra **'A'** maiúscula.

### Find

Procura uma *string* em outra *string*. Por exemplo, será que encontramos a palavra **'banana'** na variável *nova_string*?

In [ ]:
nova_string = 'Abacaxi, banana, abacate, sorvete e batata! Olha a banana de novo'

print(nova_string.find('banana'))

Note que ao buscar a ocorrência da palavra **'banana'** na variável *nova_string* o resultado é o número **9**. Contando a posição de cada caractere na variável *nova_string*, repare que o início da palavra **'banana'** é exatamente a **9ª** posição da cadeia.

Isso ocorre pois a indexação no Python inicia-se por **0**.

## Listas

Listas são [estruturas de dados](https://docs.python.org/3.8/tutorial/datastructures.html#) que agrupam algum tipo de dado e permitem iterações e acesso direto a cada dado.

Tanto um *array* como uma *list* são listas. A diferença é que uma lista pode guardar qualquer tipo de dado. Já um *array*, apenas armazena um tipo exclusivo de dado em sua estrutura.

In [ ]:
# declarando uma lista vazia
minha_lista = list()

print(type(minha_lista))

In [ ]:
# declarando uma lista vazia
minha_outra_lista = []

print(type(minha_outra_lista))

### Operações Básicas com Listas

Vamos declarar uma lista de nomes e verificar algumas propriedades e ações que podemos executar em uma lista:

In [ ]:
# Declarando a lista
minha_lista = ['Joaquim', 'Carlos', 'Luciana', 'Marcelo', 'Ellen', 'Márcia']

print(minha_lista)

Para acessar um dado específico desta lista podemos indicar seu índice como demonstrado abaixo:

In [ ]:
# Acessando o dado guardado no índice 1 da lista
minha_lista[1]

Observe que o índice **1** da lista retornou **'Carlos'**, porém quando analisamos nossa lista declarada, o nome **'Carlos'** encontra-se na segunda posição da lista.

Lembrem-se: Isso ocorre pois a indexação no Python inicia-se por **0**. Desta forma, para acessar o primeiro valor da lista, devemos passar o índice correto. 

```python
minha_lista[0]
```

In [ ]:
minha_lista[0]

Para alterar o valor de qualquer posição da lista, basta atribuir um novo valor ao índice desta forma:

In [ ]:
minha_lista[0] = 'Amarelo'

print(minha_lista)

In [ ]:
minha_lista[3] = 33

print(minha_lista)

Para selecionar um *range* de dados na lista, basta utilizar a seguinte notação:

```python
print(minha_lista[0:4])
```
> **Nota:** Retorna uma nova lista contendo o conteúdo de *minha_lista* da posição **0** (*inclusive*) a posição **4** (*exclusive*).

Quando a seleção partir do início da lista, o índice **0** pode ser omitido:

```python
print(minha_lista[:4])
```

Para uma lista completa:

```python
print(minha_lista[:])
```

Ou podemos simplesmente escolher um *range* genérico como demonstrado acima:

```python
print(minha_lista[3:6])
```

In [ ]:
print(minha_lista)

In [ ]:
print(minha_lista[0:4])

In [ ]:
print(minha_lista[:4])

In [ ]:
print(minha_lista[:])

In [ ]:
print(minha_lista[3:])

Para criar listas bidimensionais como matrizes, basta incluir blocos de listas dentro da uma lista:

```python
lista_bidimensional = [[1, 2], [3, 4], [5, 6]]
```

Para acessar a primeira lista da lista bidimensional criada acima, a qual [1, 2], basta acessar o índice **0** da mesma:

```python
print(lista_bidimensional[0])
```

Se quisermos acessar o segundo valor da segunda lista da mesma lista, o qual o valor **4**, procedemos da seguinte forma:

```python
print(lista_bidimensional[1][1])
```

In [ ]:
lista_bidimensional = [[1, 2], [3, 4], [5, 6]]

print(lista_bidimensional)

In [ ]:
print(lista_bidimensional[0])

In [ ]:
print(lista_bidimensional[1][1])

### Funções Auxiliares

Python vem com algumas funções auxiliares para utilizarmos junto das listas:

#### append()

Permite incluir um novo item ao final da lista. A função recebe um parâmetro, `append(parâmetro)`. Para incluir **3** ao final da lista:

```python
lista.append(3)
```

#### insert()

Permite incluir um novo item em uma posição desejada. A função recebe dois parâmetros, `insert(índice, valor)`. O primeiro (*índice*) é a posição em que desejamos incluir o novo item e o segundo (*valor*) é o item que desejamos incluir na lista. Para incluir **Morango** como segundo elemento na lista:

```python
lista.insert(2, 'Morango')
```

In [ ]:
lista = ['Abacaxi', 'Banana', 'Laranja']

In [ ]:
lista.append(3)

print(lista)

In [ ]:
lista.insert(2, 'Morango')

print(lista)

#### remove()

Permite remover um valor da lista. A função recebe um parâmetro, `remove(valor)`. Para remover **Morango** da lista:

In [ ]:
lista.remove('Morango')
print(lista)

#### sorted()

Permite ordenar a lista e leva como parâmetro a lista que se deseja ordenar, `sorted(lista)`. Para aplicar uma ordenação na lista:

In [ ]:
lista = [33, 2, 565, 1, 0, -22]
sorted(lista)

#### len()

Retorna o tamanho da lista e para isso recebe a lista em questão como parâmetro de entrada, `len(lista)`. Para aplicar a função `len()` na lista:

In [ ]:
len(lista)

#### max()

Retorna o maior valor de uma lista e para isso recebe a lista em questão como parâmetro de entrada, `max(lista)`. Para aplicar a função `max()` em uma lista:

```python
max(lista)
```

> **Nota:** Para aplicar a função `max()` é necessário que nossa lista seja composta de apenas um tipo de dado, por exemplo, seja uma lista de números.

In [ ]:
max(lista)

#### min()

Retorna o menor valor de uma lista e para isso recebe a lista em questão como parâmetro de entrada, `min(lista)`. Para aplicar a função `min()` em uma lista:

```python
min(lista)
```

> **Nota:** Para aplicar a função `min()` é necessário que nossa lista seja composta de apenas um tipo de dado, por exemplo, seja uma lista de números.

In [ ]:
min(lista)

##### Exercício: calcular a média da lista acima.

In [ ]:
# codificando...

## Importando pacotes no Python

Para importar pacotes basta incluir o comando `import` seguido pelo nome do pacote:

```python
import numpy
```

É possível também simplificar o nome do pacote no momento de sua inclusão como demonstrado abaixo:

```python
import numpy as np
```

Desta maneira, podemos acessar o conteúdo da biblioteca **Numpy** utilizando o alias "**np**" (https://pt.wikipedia.org/wiki/Alias_(comando).

In [ ]:
import numpy as np

In [ ]:
np.mean(lista)

In [ ]:
from numpy import mean

In [ ]:
mean(lista)

## Tuplas

Tuplas são muito similares às listas, com apenas uma exceção:

> Tuplas são imutáveis, ou seja, uma vez criada uma tupla mantém seu valor até o final da execução do programa.

Para criar uma tupla:

In [ ]:
tupla = (2, 4, 22, 'Morango')

print(tupla)

Podemos aplicar as funções `len()`, `max()` e `min()` da mesma forma em nossa tupla:

```python
print(len(tupla))
print(max(tupla))
print(min(tupla))
```

> __Nota:__ Para aplicar as funções `max()` e `min()` vale a mesma regra; É necessário que nossa tupla seja composta de apenas um tipo de dado, por exemplo, seja uma tupla de números.

In [ ]:
print(len(tupla))

Podemos acessar um dado específico em uma tupla da mesma maneira que fazemos em uma lista:

In [ ]:
print(tupla[0])

In [ ]:
print(tupla[3])

## Dicionários

Dicionários são estruturas de dados compostas de *chave : valor*. Exemplo:

```python
dicionario = {
    "nome" : "Carlos",
    "idade" : 41,
    "sexo" : "M",
    "peso" : 97,
    "casado" : False
}
```

Cada par de informação nessa estrutura de dados é composta por sua chave e valor correspondente, desta forma identificamos o valor **Carlos** na chave **nome** e o valor **97** na chave **peso**.

Podemos acessar as informações do nosso dicionário diretamente por sua chave, como fazemos com uma lista pelo seu índice:

In [ ]:
dicionario = {"nome" : "Carlos", 
              "idade" : 41, 
              "sexo" : "M", 
              "peso" : 97, 
              "casado" : False}

In [ ]:
print(dicionario)

In [ ]:
novo_dicionario = {"nome" : "Carlos", 
                   "idade" : [41, 45, 78]}

In [ ]:
print(novo_dicionario)

In [ ]:
dicionario_aninhado = {'section1': {'key1': 'value1', 'key2':'value2'}, 
                       'section2': {'key3': 'value3', 'key4': 'value4'}}

In [ ]:
print(dicionario_aninhado['section1']['key1'])
print(dicionario_aninhado['section2']['key4'])

_**!!!** Antes de executar cada uma das 5 células seguintes, substitua nos comentários o caracter **'?'** pela reposta esperada **!!!**_

In [ ]:
print(dicionario['sexo']) # Retorna ?

In [ ]:
print(dicionario['idade']) # Retorna ?

In [ ]:
print(dicionario['casado']) # Retorna ?

In [ ]:
print(dicionario['nome']) # Retorna ?

In [ ]:
print(dicionario['peso']) # Retorna ?

Para identificar a existência de uma determinada chave em um dicionário:
    
```python
'nome' in novo_dicionario
```

Retornará *True* caso positivo e *False* caso negativo.

In [ ]:
print('nome' in novo_dicionario)

In [ ]:
print('endereço' in novo_dicionario)

Para criar um dicionário instanciando um dicionário vazio em uma variável:

```python
outro_dicionario = dict()
```

Após iniciar este novo dicionário podemos preencher seu conteúdo atribuindo sua chave diretamente. Caso a chave já exista, seu valor será atualizado pelo novo valor fornecido, caso não exista, um novo valor é incluído ao dicionário representado pela chave atribuída, por exemplo:

```python
outro_dicionario['nome'] = 'Raul'
outro_dicionario['idade'] = 88
outro_dicionario['sexo'] = 'M'
outro_dicionario['peso'] = 80
outro_dicionario['casado'] = False
```

In [ ]:
# inicializando um dicionário
outro_dicionario = dict()

In [ ]:
# incluindo a primeira chave : valor
outro_dicionario['nome'] = 'Raul'

print(outro_dicionario)

In [ ]:
# incluindo a segunda chave : valor
outro_dicionario['idade'] = 88

print(outro_dicionario)

In [ ]:
# incluindo as demais chaves : valores
outro_dicionario['sexo'] = 'M'
outro_dicionario['peso'] = 80
outro_dicionario['casado'] = False

print(outro_dicionario)

## Condicionais

Condições são executadas caso seu valor de comparação retorne positivo, isto é, se algo for verdade, então, faça alguma coisa, senão, faça outra coisa.

Condições são representadas pelos *`if/else statement`* e podemos ler da seguinte maneira:
```
Se <condição>, então:
    Faça isso.
Ou se <condição>, então:
    Faça isso.
Senão:
    Faça isso.
```
    
Seu relativo em Python seria:

```python
var_a = 32

if var_a < 40:
    print('É menor que 40')
elif var_a == 40:
    print('É igual a 40')
else:
    print('É maior que 40)
```

In [ ]:
# Codificando...

Podemos, inclusive, verificar se um dado número é ímpar ou par. Lembra do operador *módulo* (**%**)?

Sabemos que um número par é sempre divisível por 2, então o resto de sua divisão por 2 será sempre 0, certo?

In [ ]:
numero_1 = 468
numero_2 = 37

# Verificando o resto da divisão por 2
print(numero_1 % 2)
print(numero_2 % 2)

Podemos aplicar lógica de comparação para verificar se o valor resultante da operação é igual a 0:

In [ ]:
print(numero_1 % 2 == 0)
print(numero_2 % 2 == 0)

Verificamos que a variável *numero_1* guarda um número onde o resto de sua divisão pelo número 2 é 0; e a variável *numero_2* guarda um número onde o resto de sua divisão pelo número 2 é 1.

Faz sentido se pensarmos que ao dividir 468 por 2, temos o valor exato de 234. Já quando dividimos 37 por 2, temos o valor 18 e resto 1.

Podemos unir o que verificamos acima em uma condição *`if/else`* para imprimir uma *string*, como por exemplo:

In [ ]:
if numero_1 % 2 == 0:
    print('Primeiro número é par')
else:
    print('Primeiro número é ímpar')

In [ ]:
if numero_2 % 2 == 0:
    print('Segundo número é par')
else:
    print('Segundo número é ímpar')

## Loops

Existem dois tipos de loops em Python, são eles:

### For Loops

Varrem uma lista/*array* de informação e executam um bloco de ação para cada item encontrado ou para cada instância de execução, por exemplo:

```
Para cada item em uma lista de itens, faça:
    Bloco de ação
```

Em Python, temos:

```python
for item in lista_itens:
    print(item)
```

Seja *lista_itens* uma lista ou *array* qualquer, o `for` irá percorrer cada item da lista, imprimindo seu valor ao usuário.

In [ ]:
lista_itens = ['Raul', 'José', 23, 44, True, False]

for item in lista_itens:
    print(item)

Podemos receber uma tupla de informação contendo o valor do item e sua posição na lista (ou *array*) de informação utilizando a função ```enumerate()``` junto a nosso `for` *loop*, como por exemplo:

In [ ]:
for index, item in enumerate(lista_itens):
    print('Item : {0} na posição {1} da lista'.format(item, index))

### While Loops

Executam um bloco de ação enquanto alguma condição é satisfeita, por exemplo:

```
Enquanto condição é satisfeita, faça:
    Bloco de ação
```

Em Python, temos:
 
```python
contador = 0

while contador < 10:
    contador += 1
```

No exemplo acima declaramos uma variável *contador* e atribuímos **0** ao seu valor. Executamos um `while` *loop* e dentro deste *loop* somamos **1** ao valor do contador. O *loop* é executado enquanto o valor de *contador* seja menor que **10**.

In [ ]:
contador = 0

while contador < 10:
    contador += 1
    
print(contador)

In [ ]:
contador = 0

while contador < 10:
    print(contador)
    contador += 1 # contador = contador + 1

print()
print(contador)

Dentro dos loops temos também o **break statement** e o **continue statement** que nos permite terminar um loop dependendo de uma certa condição (utilizando **break**) ou ignorar um loop dependendo de uma certa condição (utilizando **continue**).

Para exemplificar, vamos imaginar que temos uma lista onde queremos somar seus valores, porém, queremos que caso o valor seja o número **7** a soma não ocorra e caso o número seja **10**, a soma dos valores desta lista seja interrompida.

Podemos atingir o desejado utilizando **break** e **continue**. Segue:

In [ ]:
lista = [1, 6, 4, 7, 9, 33, 10, 42, 98]

contador = 0

for item in lista:
    if item == 7:
        continue
    elif item == 10:
        break
    else:
        contador += item
        
print(contador)

O loop acima executou exatamente a soma dos números 1, 6, 4, 9 e 33 totalizando 53.

$$
1+6+4+9+33=53
$$

Respeitando nossa condição de **continue** caso o número seja 7 e **break** caso o número seja 10.

In [ ]:
# Executando esta soma diretamente com Python, temos:
1 + 6 + 4 + 9 + 33

## Funções

Funções são blocos de código capazes de efetuar uma determinada ação toda vez que são chamados. Vimos acima alguns exemplos de funções como quando utilizamos ```enumerate()``` para retornar uma tupla em nosso `for` *loop* ou a própria função ```print()``` que utilizamos para imprimir valores na tela.

Funções podem ou não receber valores como parâmetros, vale lembrar que estes valores são apenas visíveis ao bloco da função, ou seja, não tem definição fora deste bloco - [escopo](https://pt.wikipedia.org/wiki/Escopo_(computa%C3%A7%C3%A3o)).

Podemos declarar uma função em Python da seguinte forma:

```python
def nome_da_funcao():
    # bloco de código dentro do escopo da função
```

Por exemplo, vamos declarar uma função ```print_bom_dia()``` que vai imprimir na tela a *string* **Bom dia!**:

In [ ]:
def print_bom_dia():
    print('Bom dia!')

In [ ]:
# Executando a função criada acima
print_bom_dia()

Podemos elaborar melhor a função e enviar um nome como parâmetro para a função e imprimir uma string de bom dia dinâmica com o valor deste parâmetro de *input*.

Vamos declarar uma variável de parâmetro para a função que receberá o nome desejado:

In [ ]:
def print_bom_dia(nome):
    print('Bom dia, {0}!'.format(nome))

In [ ]:
# Executa a função criada acima, passando José como parâmetro
print_bom_dia('José')

Além disso podemos também determinar valores _default_ para nossos parâmetros de entrada, isso significa que, caso nada seja passado como parâmetro para a função, este valor padrão será utilizado:

In [ ]:
def print_bom_dia(nome = 'José'):
    print('Bom dia, {0}!'.format(nome))
    
# Executa a função criada acima, passando José como parâmetro
print_bom_dia('João')

# Executa a função criada acima, utilizando o valor padrão para o parâmetro nome
print_bom_dia()

Podemos passar a uma função quantos valores de parâmetro julgarmos necessário, lembrando que temos que respeitar a ordem que declaramos esses parâmetros quando utilizamos a função, por exemplo:

```python
def funcao(nome, idade, sexo):
    # código...
    
funcao('Jorge', 32, 'masculino')
```

Ou podemos referenciar cada parâmetro, neste caso, não importando a ordem em que foram declarados:

```python
def funcao(nome, idade, sexo):
    # código...
    
funcao(idade = 23, sexo = 'feminino', nome = 'Gabrielle')
```

In [ ]:
def funcao(nome, idade, sexo):
    print('{0} tem {1} anos, sexo {2}'.format(nome, idade, sexo))
    
funcao('José', 32, 'masculino')
funcao(idade = 23, sexo = 'feminino', nome = 'Maria')

In [ ]:
def funcao2(nome, idade, sexo):
    print(nome, 'tem', idade, 'anos, sexo', sexo)
    
funcao2('Jorge', 32, 'masculino')

Vimos a possibilidade acima de retornar uma tupla quando utilizamos a função ```enumerate()```, vamos criar nossa própria função que retorna o valor de um número elevado a potência de 2 e multiplicado por 2:

```python
def retorna_tupla(numero):
    return (numero ** 2, numero * 2)
```

Note que utilizamos a palavra reservada **return** passando uma tupla com duas expressões matemáticas dentro. 

> __Nota:__ Como o nome diz, **return** nos retorna um valor, é utilizada toda vez que uma função tem algum retorno.

No caso demonstrado acima, nossa função está retornando uma tupla de valores, onde estes valores são as operações matemáticas.

Para simplificar o entendimento, poderíamos reescrever está mesma função da seguinte forma:

```python
def retorna_tupla(numero):
    valor_potencia = numero ** 2
    valor_multiplicacao = numero * 2
    return (valor_potencia, valor_multiplicacao)
```

Para receber estes valores, basta separar por vírgula nossas variáveis que receberão os *outputs* da função:

```python
retorno_potencia, retorno_multiplicacao = retorna_tupla(8)
```

In [ ]:
def retorna_tupla(numero):
    return(numero ** 2, numero * 2)

retorno_potencia, retorno_multiplicacao = retorna_tupla(10)

print(retorno_potencia)
print(retorno_multiplicacao)

--------------

## Exercícios

### Aritmética

**1.** Crie uma variável *resultado* que receba o valor da operação $3\times(4 + 7)$ e imprima seu resultado.

**2.** Utilizando a biblioteca `math` realize a operação $\sqrt{4}$ e imprima seu resultado.

> **Nota:** Pesquise na *web* informações sobre qual a respectiva função da biblioteca `math` que calcula a raiz quadrada de um número.

## Strings

**1.** Imprima seu nome.

**2.** O código abaixo retorna um erro de execução, você consegue identificar qual é este erro pela mensagem de retorno? Identificado o erro, reescreva o código de maneira que ele seja executado sem erro, imprimindo a *string* desejada.

In [ ]:
print(Este texto deveria ser impresso na tela)

**3.** Realize um cálculo qualquer e imprima seu resultado na tela utilizando a função `format()` seguindo o padrão: `'A operação _______ resulta o valor ______.'`

## Listas

**1.** Incluir os valores `'Abril'`, `'Junho'` e `'Outubro'` na lista `meses` abaixo respeitando a ordenação dos meses.

In [ ]:
meses = ['Janeiro', 'Fevereiro', 'Março', 'Maio', 'Julho', 'Agosto', 'Setembro', 'Novembro', 'Dezembro']

**2.** A lista `estados` abaixo, a qual uma lista que deveria conter apenas as siglas de estados brasileiros, contém valores inconsistentes com o seu propósito. Remova estes valores e ordene a lista final.

> **Nota:** Existe um erro de digitação em um dos estados da lista. Corrija o mesmo.

In [ ]:
estados = ['RJ', 'DF', 'PS', 44, 'PA', 9.33, 'AC', 'José', 12, 'ES']

## Tuplas

**1.** Imprima todos os valores da tupla abaixo de maneira sequencial.

In [ ]:
tupla = (6, 77, 42, 10)

**2.** Tente descobrir o motivo do erro abaixo.

In [ ]:
tupla = (6, 77, 42, 10)

tupla[2] = 99

## Dicionários

**1.** Crie um dicionário que guarde as seguintes informações:

 1. Um time de futebol identificado pela chave `time`.
 2. Um texto qualquer identificado pela chave `texto`.

__2.__ Imprima os valores de seu dicionário criado no exercício **1** seguindo o padrão `'O time que escolhi foi o _________ e meu texto é ___________.'`

## Condicionais

**1.** Faça uma condição que compara a variável `numero` e imprime `Número maior ou igual a 30` caso o número seja maior ou igual a 30 e `Número menor que 30` caso o número seja menor que 30.

**2.** Tente identificar o erro no bloco de código abaixo.

In [ ]:
nome = 'Joaquim'

if nome == 'Joaquim'
    print('O nome é Joaquim.')
else:
    print('Outro nome.')

## Loops

**1.** Percorra a lista abaixo utilizando um `for` *loop* e imprima o valor de cada índice.

In [ ]:
filmes = ['Filme 1', 'Filme 2', 'Filme 3', 'Filme 4']

**2.** Utilizando um `while` *loop* execute um loop até que a variável `contador` possua valor menor que 25. Para cada iteração some 1 ao `contador` e 25 a variável `soma`.

## Funções

**1.** Crie uma função que receba como parâmetro a lista `valores` abaixo e retorne a soma de todos os valores da lista.

In [ ]:
valores = [55, 92, 427, 86, 10, 64, 89, 177]

**2.** Crie uma função que receba como parâmetro a mesma lista de valores mas que retorna apenas a soma dos números ímpares da lista.

**3.** Crie uma função que receba como parâmetro a *string* **'BaCeDiFoGu'**, substitua as vogais pela letra **'q'** e retorne o resultado obtido.